* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: "summer";
    src: url("./fonts/simple_summer-webfont.woff"),
    url("./fonts/simple_summer-webfont.woff2");
}
  
  body {
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    justify-content: center;
  }

  a{
    color: black;
  }

.sidebar{
    flex: 1;
    background-image: url("./img/samuele-giglio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: 200px;
    max-width: 33vw;
    min-height: 100vh;
}

.card-content span {
    font-family: "summer";
}

.sidebar p {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 12px;
}

.card-background{
    background-color: rgba(0, 0, 0, .5);
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    height: 80px;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 200px;
    opacity: 1;
}

.card-content img {
    height: 64px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    max-height: 100vh;
    font-size: 20px;
    margin-top: 48px;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex: 0;
    max-width: 740px;
    margin-bottom: 16px;
}


.intro > p {
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 0px;
}

.italic {
    font-style: italic;
}

.form-container{
    padding: 12px;
    background-color: white;
    box-shadow: 1px 4px 4px lightgray;
}

.form-container > p {
    margin-left: 32px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

.form-row-1{
    margin-top: 12px;
  }

.form-row-1, .form-row-2, .form-row-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-left: 32px;
    margin-bottom: 8px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"],
.form-row input[type="number"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row input:invalid{
    border: 1px solid red;
}

.form-row label {
    margin-bottom: 8px;
    font-size: 14px;
 }

 #error {
    font-size: 12px;
    color: red;
    margin-left: 32px;
 }

 button[type="submit"] {
    margin-left: 42px;
    margin-top: 16px;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    border: 1px solid #315c3c;
    background-color: #315c3c;
    color: white;
 }

 button[type="submit"]:hover {
    border: 1px solid #4a8a5b;
    background-color: #4a8a5b;
 }

.account {
    font-size: 12px;
    margin-top: 12px;
    margin-left: 42px;
}

.account > a {
    text-decoration: none;
    color: #4a8a5b;
}