* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    justify-content: center;
  }

  a{
    color: black;
  }

.sidebar{
    flex: 1;
    background-image: url("./img/samuele-giglio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sidebar p {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 12px;
}

.card-background{
    background-color: rgba(0, 0, 0, .5);
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    height: 80px;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 200px;
    opacity: 1;
}

.card-content img {
    height: 64px;
}

.container{
    height: 100vh;
    width: 65vw;
    font-size: 24px;
}

.intro > p {
    margin-top: 48px;
    margin-left: 32px;
}

.italic {
    font-style: italic;
}

.form-container{
    background-color: white;
    box-shadow: 1px 4px 4px lightgray;
}

.form-container > p {
    margin-top: 60px;
    margin-left: 32px;
}

.form-row-1, .form-row-2, .form-row-3{
    display: flex;
    justify-content: center;
    align-items: center;
}